body {
  text-align: center;
  padding: 16px;
  margin: 5px 30px;
}
.Top-cloud {
position: absolute;
display: block;
right:80px;
top:50px;
}
.bottom-cloud {
  position: absolute;
  display: inline;
  left: 40px;
  top: 300px;
}
.bottom-container{
  background-color: grey;
  border-radius: 0 0 5px 5px;
  width: 70%;
  margin: 0 auto 0 auto;
  padding: 11px 0;
}
.Top-container {
  background-color: #5b8a72;
  padding: 130px 50px;
  position: relative;
  border-radius: 0 0 5px 5px;
}
h1 {
  font-family: 'Lovers Quarrel', cursive;
}
h2 {
  font-family: 'Arima Madurai', serif;
}
.Tushar {
color: white;
font-size: 5.62rem;
}
.Below-Tushar {
  color: white;
  font-size: 2.5rem;
}
.footer-link-image{
  width:50px;
  /* margin-bottom: 5px; */
  margin: 20px 25px;
}
.content-table{
  background-color: #ca8a8b;
  text-align: left;
  border-radius: 5px 5px 0 0;
}
.content-table-text{
display: inline-block;
color: white;
text-decoration: none;
background-color: #374045;
margin: 10px;
padding: 7px;
border-radius:5px;
}
.contact-me{
  background-color: silver;
  border-radius: 5px 5px 0 0;
  padding: 10px 0 5px 0;
  margin: 30px auto 0 auto;
  width: 70%;
}
.middle-container{
  margin: 0 60px;
}